<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href="/build/bundle.css" rel="stylesheet" type="text/css">
	
	
</head>
<body fullbleed layout vertical unresolved>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      
    </div>
  </div>
</nav>
<div class="col-md-12" ng-cloak>
	<div ng-controller="ListCtrl as ctrl"  class="col-md-6 col-xs-12">
		
		<form action="javascript:;" ng-submit="ctrl.submit()">
			<div class="form-group">
			    <input type="text" class="form-control" placeholder="Точка маршрута" required="required" ng-model="ctrl.inputPoint">
			</div>
		</form>
		
		<ul ng-sortable="{onEnd: ctrl.onEndSort}" class="list-group" >
		  <li ng-repeat="(i, value) in ctrl.pointFactory.points track by i"  class="list-group-item" ng-touch="textBtnForm.$show()" ng-dblclick="textBtnForm.$show()">
		  	
                <a href="javascript:;" ng-click="ctrl.delete(i)" class="badge"><i class="fa fa-times"></i></a>
		    	<span editable-text="value.name" onaftersave="ctrl.pointFactory.changedPoint(i)" e-form="textBtnForm" ng-show="textBtnForm.$visible">{{value.name}}</span>
		    	<span  ng-hide="textBtnForm.$visible">{{value.name}}</span>
		    
		  </li>
		</ul>
		{{ctrl.pointFactory.addedPoint}}
		{{ctrl.pointFactory.points}}
	</div>
	<div ng-controller="MapCtrl as ctrl" class="col-md-6  col-xs-12" style="height: 500px;" ng-init="ctrl.init('Загрузка...')">
		
		<ya-map ya-zoom="9" ya-center="[37.588628,55.734046]" ya-after-init="ctrl.mapAfterInit($target)">
		    <ya-geo-object 
		    	ng-if="value.geoInfo" ng-repeat="(i, value) in ctrl.pointFactory.points track by i" 
		    	ya-source="value.geoInfo" 
		    	ya-options="{draggable:true}" 
		    	ya-event-balloonopen="ctrl.balloonOpen($event, i)"
		    	ya-event-dragend="ctrl.pointMove($event, i)"></ya-geo-object>
		    <ya-geo-object ya-source="ctrl.pointFactory.route" ya-options="{strokeWidth: 2}"></ya-geo-object>
		</ya-map>
		
		<br>
		{{ctrl.pointFactory.route}}
		<br>
		{{ctrl.pointFactory.points}}
		
	</div>
</div>


<!-- <script src="/jsapp/build.elements.js"></script> -->


<script src="/build/bundle.js"></script>
</body>
</html>